{
  "IsEncrypted": false,
  "Values": {
	"AzureWebJobsStorage": "UseDevelopmentStorage=true",
	"FUNCTIONS_WORKER_RUNTIME": "python",
	"STORAGE_CONNECTION_STRING": "PLACE_YOUR_STORAGE_CONNECTION_STRING_HERE",
	"BLOB_CONTAINER_NAME": "project-submissions"
  }
}
